body{
    background-color:palevioletred;
    background-repeat: no-repeat;
    background-size: cover;
}
li:hover{
    background-color: burlywood;
}
img1{
    width:20%;
    height: 20%;
    float:left;
    margin-left: 10px;
}