li:hover{
    background-color: burlywood;
}
body{
    background-image: url("https://i.pinimg.com/736x/3b/d9/fd/3bd9fd6dc12a4a08a928d6a31387d056.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}